<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tugas-13-Component</title>
</head>

<body>
    <div id="app">
        <form @submit.prevent="submitForm()" style="width: fit-content; height: fit-content; background-color: gainsboro; padding: 10px;">
            <p v-if = "errors.length > 0">
                <b>Please correct the following errors :</b>
                <ul>
                    <li v-for="error in errors"> {{ error }} </li>
                </ul>
            </p>
            
            <label for="title">Nama :</label><br>
            <input type="text" name="name" ref="name" v-model="name" :disabled="buttonStatus == 'upload'" style="width: 200px;"><br>
            
            <label for="address">Alamat :</label><br>
            <textarea name="address" ref="address" v-model="address" :disabled="buttonStatus == 'upload'" style="width: 200px; font-family: Arial, Helvetica, sans-serif;"></textarea><br>
            
            <label for="no_hp">No. HP :</label><br>
            <input type="tel" name="no_hp" ref="no_hp" v-model="no_hp" :disabled="buttonStatus == 'upload'" style="width: 200px;"><br><br>

            <div v-if="buttonStatus == 'submit'">
                <input type="submit" name="submit" value="SUBMIT" style="width: 208px;">
            </div>
            <div v-else-if="buttonStatus == 'update'">
                <input type="button" value="UPDATE" @click="updateMember(idEditMember)" style="width: 208px;"><br>
                <input type="button" value="CANCEL" @click="clearForm()" style="width: 208px; margin-top: 5px;">
            </div>
            <div v-else-if="buttonStatus == 'upload'">
                <input type="file" name="photo" ref ="photo"><br>
                <input type="button" value="UPLOAD" @click="submitPhoto(idUploadPhoto)" style="width: 208px; margin-top: 5px;"><br>
                <input type="button" value="CANCEL" @click="clearForm()" style="width: 208px; margin-top: 5px;"><br>
            </div>
        </form>

        <br><br>
        <members-component  
            :members = "members" 
            :domain = "photoDomain"
            @edit = "editMember($event)"
            @delete = "deleteMember($event)"
            @upload = "uploadPhoto($event)">
        </members-component>
        <br><br>
    </div>
  
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>

    var MembersComponent = {
        template : `
        <div>
            <table border="1">
                <tr v-for="member of members">
                    <td>
                        <img width="100" :src="member.photo_profile ? domain + member.photo_profile : 'https://dummyimage.com/600x400/000/fff'" alt="">
                    </td>
                    <td>
                        <b>Nama : </b> {{ member.name }} <br>
                        <b>Alamat : </b> {{ member.address }} <br>
                        <b>No. HP : </b> {{ member.no_hp }} <br>
                    </td>
                    <td>
                        <button @click="$emit('edit' , member)">Edit</button>
                        <button @click="$emit('delete' , member.id)">Hapus</button>
                        <button @click="$emit('upload' , member)">Upload Foto</button>
                    </td>
                </tr>
            </table>
        </div>
        `,
        props : ['members', 'domain']
    }

    var vm = new Vue({
        el: '#app',
        components: {
            'members-component' : MembersComponent,
        },
        data: {
            name : '',
            address : '',
            no_hp : '',
            errors : [],
            members : [],
            photoDomain : 'http://demo-api-vue.sanbercloud.com',
            buttonStatus : 'submit',
            idEditMember : null,
            idUploadPhoto : null,
        },
        methods : {
            clearForm : function() {
                this.name = ''
                this.address = ''
                this.no_hp = ''
                this.buttonStatus = 'submit'
                this.idEditMember = null
                this.idUploadPhoto = null
            },
            validationForm : function() {
                this.errors = []

                if(this.name.length < 5) {
                    this.errors.push("Nama minimal 5 karakter!")
                    this.$refs.name.focus()
                }

                if(this.no_hp.length === 0) {
                    this.errors.push("No HP tidak boleh kosong!")
                    this.$refs.no_hp.focus()
                } else if(this.no_hp.length < 11 || this.no_hp.length > 13) {
                    this.errors.push("No HP antara 11 - 13 digit!")
                    this.$refs.no_hp.focus()
                }
                
                if(this.address.length > 30) {
                    this.errors.push("Alamat maksimal 30 karakter!")
                    this.$refs.address.focus()
                }
            },
            submitForm : function() {
                this.validationForm()
                
                if(this.errors.length === 0) {

                    let formData = new FormData()
                    formData.append('name', this.name)
                    formData.append('address', this.address)
                    formData.append('no_hp', this.no_hp)

                    const config = {
                        method : "post",
                        url : "http://demo-api-vue.sanbercloud.com/api/member",
                        data : formData
                    }

                    axios(config)
                        .then((response) => {
                            // handle success
                            this.clearForm()
                            this.getMembers()
                            alert(response.data.message)
                        })
                        .catch((error) => {
                            // handle error
                            console.log(error);
                        })
                }
            },
            getMembers : function() {

                const config = {
                    method : "get",
                    url : "http://demo-api-vue.sanbercloud.com/api/member"
                }
                axios(config)
                    .then((response) => {
                        // handle success
                        this.members = response.data.members
                    })
                    .catch((error) => {
                        // handle error
                        console.log(error);
                    })
            },
            deleteMember : function(id) {
            
                const config = {
                    method : "post",
                    url : `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                    params : { _method : "DELETE" }
                }

                axios(config)
                    .then((response) => {
                        // handle success
                        this.getMembers()                        
                        alert(response.data.message)
                    })
                    .catch((error) => {
                        // handle error
                        console.log(error);
                    })
            },
            editMember : function(member) {
                this.name = member.name
                this.address = member.address
                this.no_hp = member.no_hp
                this.buttonStatus = 'update'
                this.idEditMember = member.id
            },
            updateMember : function (id) {
                this.validationForm()

                if(this.errors.length === 0) {
                    let formData = new FormData()
                    formData.append('name', this.name)
                    formData.append('address', this.address)
                    formData.append('no_hp', this.no_hp)

                    const config = {
                        method : "post",
                        url : `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                        params : { _method : "PUT" },
                        data : formData
                    }

                    axios(config)
                        .then((response) => {
                            // handle success
                            this.clearForm()
                            this.getMembers()
                            alert(response.data.message)
                        })
                        .catch((error) => {
                            // handle error
                            console.log(error);
                        })
                }

            },
            uploadPhoto : function(member) {
                this.name = member.name
                this.address = member.address
                this.no_hp = member.no_hp
                this.buttonStatus = 'upload'
                this.idUploadPhoto = member.id
            },
            submitPhoto : function(id) {
                let file = this.$refs.photo.files[0]

                let formData = new FormData()
                formData.append("photo_profile", file)
                
                const config = {
                        method : "post",
                        url : `http://demo-api-vue.sanbercloud.com/api/member/${id}/upload-photo-profile`,
                        data : formData
                    }

                    axios(config)
                        .then((response) => {
                            // handle success
                            this.clearForm()
                            this.getMembers()
                            alert(response.data.message)
                        })
                        .catch((error) => {
                            // handle error
                            console.log(error);
                        })   
            },
        },
        created() {
            this.getMembers()
        }
    })
    </script>
</body>
</html>