* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    position: relative;
}

@font-face {
    font-family: GSans;
    src: url(font/ProductSans-Regular.ttf);
}
@font-face {
    font-family: Quicksand;
    src: url(font/Quicksand-Bold.ttf);
}
@font-face {
    font-family: Piedra;
    src: url(font/Piedra-Regular.ttf);
}

html, body, section {
    position: relative;
    height: 100%;
}
html {
    scroll-behavior: smooth;
}
body {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    font-size: 100%;
  }
header {
    height: 69px;
    background-color: whitesmoke;
    border-bottom: 3px solid rgba(0, 128, 128, 0.2);
}

header h1 {
    display: inline-block;
    float: left;
    padding: 12px 24px 12px 5px;
}

header h1 a {
    font-family: Piedra;
    color: lightseagreen;
    transition: .3s;
    transition-property: background-color;
}

header h1 a:hover {
    color: teal;
}

header ul {
    display: inline-block;
    float: right;
}

header li a:hover {
    color:white;
}

header ul li {
    padding: 23px 15px;
    display: inline-block;
}

header ul li a {
    font-family: Quicksand;
    color: lightseagreen;
    transition: .3s;
    transition-property: background-color;
}

a {
    text-decoration: none;
}

.container ul li:hover {
    background-color:teal;
    color: white;
}

.container {
    width: 90%;
    margin: 0 auto;
    top: 0px;
    position: static;
}

.container::after {
    content: '';
    display: block;
    clear: both;
}

.main {
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 62px;

}
.content {
    width: 65%;
    float: left;
    position: relative;
    background-color: white;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid rgba(211, 211, 211, 0.5);
    color: rgba(29,33,32, 0.8);
    box-shadow: -3px 3px 3px -3px rgba(211, 211, 211, 0.9);
}

.content h1 {
    font-family: Quicksand;
    padding: 5px;
}

.content img {
    width: 85%;
    padding-left: 60px;
}

.content h6 {
    font-size: 11px;
    padding-left: 5px;
}

.content h3 {
    font-family: Quicksand;
    padding-left: 58px;
}
.content h6 a {
    color: teal;
}

.content p {
    font-size: 16px;
    text-align: justify;
    padding: 0px 58px;
    font-family: GSans;
    text-indent: 30px;
    line-height: 20px;
}
.line-topic {
    margin: 0 30px;
    border-top: 1px solid lightgrey;  
}

.content ol li {
    margin-left: 100px;
    font-family: Quicksand;
}

.content ol p {
    padding-left: 100px;
}

.content ol img {
    width: 60%;
    padding-left: 190px;
}

.sidebar {
    width: 25%;
    position: relative;
    height: 100%;
    margin-right: 62px;
    margin-left: 1000px;
    float: right;
    border: 1px solid black;
}

aside {
    width: 30%;
    float: right;
}

section {
    border: 1px solid rgba(211, 211, 211, 0.5);
    color: rgba(29,33,32, 0.8);
    box-shadow: -3px 3px 3px -3px rgba(211, 211, 211, 0.9);
}

aside #aside-first {
    background-color: teal;
}

aside #aside-first img {
    border-radius: 50%;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

aside section p {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
    text-align: justify;
    padding: 0 20px 20px;
}

aside section p a {
    color: teal;
}

aside section a img {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#contact {
    border: 1px solid rgba(211, 211, 211, 0.5);
    color: rgba(29,33,32, 0.8);
    box-shadow: -3px 3px 3px -3px rgba(211, 211, 211, 0.9);
    height: 380px;
    margin-bottom: 20px;
    position: relative;
}
section h3 {
    text-align: center;
    margin: 10px 0;
}
section .facebook img {
    width: 50px;
    padding: 10px 0 10px 20px;
    float: left;
    border-top-left-radius: 10px;
}

section .facebook p {
    width: 232px;
    background-color: #3b5998;
    margin-right: 20px;
    margin-top: 10px;
    height: 30px;
    line-height: 45px;
    float: right;
    font-family: sans-serif;
    font-size: 18px;
    text-align: center;
    color: white;
}

section .instagram {
    margin-left: -20px;
}
section .instagram p img {
    float: left;
    width: 50px;
    height: 50px;
    margin-left: -20px;
}

section .instagram p {
    width: 280px;
    background-color: #c32aa3;
    margin-top: 20px;
    float: left;
    height: 30px;
    line-height: 45px;
    margin-left: -50px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    font-family: sans-serif;
    font-size: 18px;
    text-align: center;
    color: white;
}

section .whatsapp {
    margin-left: -20px;
}

section .whatsapp p img {
    float: left;
    width: 50px;
    height: 50px;
    margin-left: -20px;
}

section .whatsapp p {
    width: 280px;
    background-color: #4FCE5D;
    margin-top: 20px;
    float: left;
    height: 30px;
    line-height: 45px;
    margin-left: 40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    font-family: sans-serif;
    font-size: 18px;
    text-align: center;
    color: white;
}

section .gmail {
    margin-left: -20px;
    margin-bottom: 20px;
}

section .gmail p img {
    float: left;
    width: 50px;
    height: 50px;
    margin-left: -20px;
}

section .gmail p {
    width: 280px;
    background-color: #d44638;
    margin-top: 20px;
    float: left;
    height: 30px;
    line-height: 45px;
    margin-left: 40px;

    font-family: sans-serif;
    font-size: 18px;
    text-align: center;
    color: white;
}

footer {
    float: left;
    width: 100%;
    bottom: 0px;
    line-height: 70px;
    background-color: teal;
    text-align: center;
    position: relative;
}

footer p {
    font-family: sans-serif;
    font-size: 18px;
    color: whitesmoke;
}

footer p a {
    color:lightgoldenrodyellow;
    transition: .3s;
    transition-property: color;
}

footer p a:hover {
    color: yellow;
}