<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <input type="text" v-model="name">
        <button @click="addNewName()" v-show="isShowAddBtn">Add</button>
        <button @click="editName(name, indexChange)" v-show="isShowEditBtn">Update</button>
        <ul>
            <li v-for="item in users" :key="item.name">
				{{ item.name }}
                <button  @click="changeField(item.name)">Edit</button> ||
                <button @click="deleteName(item.name)">Delete</button>
            </li>
        </ul>
    </div>
  
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
    var vm = new Vue({
        el: '#app',
        data: {
            name : '',
            users : [
                {'name' : 'Azhar Bani Rashif',},
                {'name' : 'Rafi Ramdani',},
                {'name' : 'Fahreza Ramadhani',},
            ],
            indexChange : -1,
            isShowAddBtn : true,
            isShowEditBtn : false,
        },
        methods : {
            addNewName : function() {
                if(this.name.length === 0){
                    alert("field tidak boleh kosong!")
                    return this.users
                } else{
                    this.users.push({name: this.name})
                    this.name = ''
                    return this.users
                }
            },
            deleteName : function(data) {
                if(confirm("Yakin untuk menghapus data ini?") === true){
                    for(let i = 0; i < this.users.length; i++) {
                        if(data.match(this.users[i].name)){
                            this.users.splice(i, 1)
                        }   
                    }
                }
                return this.users
            },
            editName : function(data, index) {
                for(let i = 0; i < this.users.length; i++) {
                    if(this.users[index].name.match(this.users[i].name)){
                        this.users[i].name = data
                    }
                }
                this.isShowAddBtn = true
                this.isShowEditBtn = false
                this.name = ''
                return this.users
            },
            changeField : function(data) {
                this.name = data
                this.isShowAddBtn = false
                this.isShowEditBtn = true
                for(let i = 0; i < this.users.length; i++) {
                    if(this.users[i].name == data) {
                        this.indexChange = i
                    }
                }
            }
        }
    })
    </script>
</body>
</html>