<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
</head>

<body>
    <div id="app">
        <form action="">
            <input type="text" v-model="key">
        </form>
            <ul>
                <li v-for="post in filteredBooks">
					<p>{{ post }}</p>
                </li>
            </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                key : '',
                books : [
                    'Kalkulus Dasar',
                    'Fisika Dasar',
                    'Aljabar Linear Elementer',
                    'Aljabar Abstrak',
                    'Algoritma Pemrograman'
                ],
                filterBooks : []
            },
            computed : {
                filteredBooks : function() {
                    return this.books.filter(post => {
						return post.toLowerCase().includes(this.key.toLowerCase())
						})
                }
            }
        })
    </script>
</body>
</html>